In [1]:
def f(x):
    return x**3 - 9*x**2 + 23*x - 16

def der_f(x):
    return 3*x**2 - 18*x + 23

tol = 10e-10

import numpy as np
def secant(f, x, x2, tol):
    err = 3*tol
    err_arr = []
    err_arr.append(err)
    old_err = abs(x2-x)
    err_arr.append(old_err)
    x_arr = []
    x_arr.append(x)
    x_arr.append(x2)
    gamma_arr = []
    gamma_arr.append(np.nan)
    gamma_arr.append(np.log(abs(x2-x))/np.log(err))
    i = 0
    
    
    while err>tol:
        z = (f(x)*(x-x2))/((f(x)-f(x2)))
        err = abs(z)
        err_arr.append(err)
        gamma_arr.append(np.log(err)/np.log(old_err))
        x2 = x
        x = x - z
        x_arr.append(x)
        i = i + 1
        old_err = err
    return x, x_arr,err_arr,gamma_arr
    

x1, x_arr, err_arr, gamma_arr = secant(f, 0.5, 0.7, 10e-10)
x_exact = 1.1391941468830

In [2]:
import pandas as pd
df_secant = pd.DataFrame({'X Values': x_arr,'Xi - x_exact':(abs(np.asarray(x_arr)-x_exact)), 'Gamma': gamma_arr})

In [3]:
df_secant

   X Values  Xi - x_exact     Gamma
0  0.500000  6.391941e-01       NaN
1  0.700000  4.391941e-01  0.082011
2  0.998495  1.406990e-01  0.432549
3  1.088377  5.081697e-02  3.460773
4  1.133680  5.514370e-03  1.284376
5  1.138958  2.356561e-04  1.694703
6  1.139193  1.131129e-06  1.593790
7  1.139194  2.276159e-10  1.638260
8  1.139194  5.296430e-12  1.619892

In [4]:
import numpy as np

def newton(f, df, tol):
    
    x = 1
    old_err = 3*tol
    err_arr = []
    err_arr.append(old_err)
    x_arr = []
    gamma_arr = []
    x_arr.append(x)
    it_count = 0
    gamma_arr.append(np.nan)
    
    while old_err > tol:
        z = f(x)/df(x)
        err = abs(z)
        err_arr.append(err)
        
        gamma_arr.append(np.log(err)/np.log(old_err))
        x = x - z
        x_arr.append(x)
        it_count += 1
        old_err = err
        print(x)

    return x, x_arr, err_arr,gamma_arr


def f(x):
    return x**3 - 9*x**2 + 23*x - 16

def df(x):
    return 3*x**2 - 18*x + 23

true_sol = 1.1391941468830
sol, x_arr_new, err_arr_new,gamma_arr_new = newton(f, df, 10e-10) 
# print(sol)

1.125
1.1390214797136038
1.1391941208395573
1.1391941468882965
1.1391941468882965

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: divide by zero encountered in log

In [5]:
import pandas as pd
df_newton = pd.DataFrame({'X Values': x_arr_new,'Xi-x_exact': abs(np.asarray(x_arr_new)-x_exact), 'Gamma': gamma_arr_new})

In [6]:
df_newton

   X Values    Xi-x_exact     Gamma
0  1.000000  1.391941e-01       NaN
1  1.125000  1.419415e-02  0.105961
2  1.139021  1.726672e-04  2.052073
3  1.139194  2.604344e-08  2.030457
4  1.139194  5.296430e-12  2.015547
5  1.139194  5.296430e-12       inf